# Created by .ignore support plugin (hsz.mobi)
#*.gitignore
*.gz
*.log
.classpath
.project

/.idea
/.git
/.settings
/.log
/target
/META-INF
/out
/target
/src/main/resources/application.properties.back