<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youzi.teaChain.dao.DrawMoneyMapper" >

    <select id="getCurrentDrawMoney" resultType="java.math.BigDecimal">
        select sum(count)
        from t_teachain_draw_money
        where status=0
              and uuid=#{uuid}
    </select>

    <insert id="createDrawOrder">
        insert into t_teachain_draw_money (
            uuid,count,brokerage,realDrawMoney,wechatNum
        ) values (
            #{uuid},#{count},#{totalBrokerage},#{count}-#{totalBrokerage},#{wechatNum}
        )
    </insert>

    <select id="getDrawMoneyOrder" resultType="com.youzi.teaChain.bean.DrawMoneyOrder">
        select *
        from t_teachain_draw_money
        where delFlag=0
              and uuid=#{uuid}
        order by createTime desc
    </select>

    <update id="setDelFlagDrawOrder">
        update t_teachain_draw_money
        set delFlag = 1
        where id = #{id}
    </update>

</mapper>
