<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youzi.teaChain.dao.PutSunLogMapper">

    <insert id="createPutSunLog" >
        insert into t_teachain_put_sun_log (uuid, sun) values (#{uuid},#{sun})
    </insert>

    <select id="calcTotalSun" resultType="java.math.BigDecimal">
        select sum(sun)
        from t_teachain_put_sun_log
        where time >= #{zero}
    </select>

</mapper>
